<component name="ArtifactManager">
  <artifact type="war" name="spring_toturial:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring_toturial_by_never.war">
      <element id="artifact" artifact-name="spring_toturial:war exploded" />
    </root>
  </artifact>
</component>